<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt="MP" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Promoções</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quem Nós Somos?</a>
      </li>


    </ul>
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Entra/Resgistrar</button>

  </div>
</nav>

<div class="container " style= 'margin-top: 30px;'>
  <div class="row">
    <div class="col-md-10">

      <div class="info-box" style="background-color: white;">
        <h3>Promoção Militec</h3>
        <img src="../assets/img/loja_01.jpg" width="150px" height="150px "alt="MP" >
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet a massa nec cursus. Vestibulum quis diam ac dolor vestibulum vehicula quis sed dui. Integer non tempus nulla, eget consectetur quam. Phasellus eget convallis sapien. In in lacinia ante, in porttitor urna. Nunc tincidunt volutpat felis, sed ullamcorper ligula. Nulla nec erat gravida, ullamcorper leo a, porta dui. Curabitur eu facilisis odio. Nullam sit amet laoreet neque. Nullam at ligula ac mi molestie fringilla quis eget urna.</p>
      </div>

    </div>

    <div class="col-md-5">

      <div class="info-box" style="background-color: white;">
        <h3>Promoção Militec</h3>
        <img src="../assets/img/loja_01.jpg" width="150px" height="150px "alt="MP" >
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet a massa nec cursus. Vestibulum quis diam ac dolor vestibulum vehicula quis sed dui. Integer non tempus nulla, eget consectetur quam. Phasellus eget convallis sapien. In in lacinia ante, in porttitor urna. Nunc tincidunt volutpat felis, sed ullamcorper ligula. Nulla nec erat gravida, ullamcorper leo a, porta dui. Curabitur eu facilisis odio. Nullam sit amet laoreet neque. Nullam at ligula ac mi molestie fringilla quis eget urna.</p>
      </div>

    </div>

    <div class="col-md-5">

      <div class="info-box" style="background-color: white;">
        <h3>Promoção Militec</h3>
        <img src="../assets/img/loja_01.jpg" width="150px" height="150px "alt="MP" >
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet a massa nec cursus. Vestibulum quis diam ac dolor vestibulum vehicula quis sed dui. Integer non tempus nulla, eget consectetur quam. Phasellus eget convallis sapien. In in lacinia ante, in porttitor urna. Nunc tincidunt volutpat felis, sed ullamcorper ligula. Nulla nec erat gravida, ullamcorper leo a, porta dui. Curabitur eu facilisis odio. Nullam sit amet laoreet neque. Nullam at ligula ac mi molestie fringilla quis eget urna.</p>
      </div>

    </div>






</div>

</div>
